In [1]:
import pandas as pd

In [2]:
a=pd.read_csv("Housing.csv")
a

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,yes,no,yes,no,no,2,no,unfurnished
541,1767150,2400,3,1,1,no,no,no,no,no,0,no,semi-furnished
542,1750000,3620,2,1,1,yes,no,no,no,no,0,no,unfurnished
543,1750000,2910,3,1,1,no,no,no,no,no,0,no,furnished
544,1750000,3850,3,1,2,yes,no,no,no,no,0,no,unfurnished

In [3]:
a.head(5)

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [4]:
a.describe()

,price,area,bedrooms,bathrooms,stories,parking
count,5.450000e+02,545.000000,545.000000,545.000000,545.000000,545.000000
mean,4.766729e+06,5150.541284,2.965138,1.286239,1.805505,0.693578
std,1.870440e+06,2170.141023,0.738064,0.502470,0.867492,0.861586
min,1.750000e+06,1650.000000,1.000000,1.000000,1.000000,0.000000
25%,3.430000e+06,3600.000000,2.000000,1.000000,1.000000,0.000000
50%,4.340000e+06,4600.000000,3.000000,1.000000,2.000000,0.000000
75%,5.740000e+06,6360.000000,3.000000,2.000000,2.000000,1.000000
max,1.330000e+07,16200.000000,6.000000,4.000000,4.000000,3.000000

In [5]:
a.columns[a.isna().any()]

Index([], dtype='object')

In [6]:
a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    object
 6   guestroom         545 non-null    object
 7   basement          545 non-null    object
 8   hotwaterheating   545 non-null    object
 9   airconditioning   545 non-null    object
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    object
 12  furnishingstatus  545 non-null    object
dtypes: int64(6), object(7)
memory usage: 55.5+ KB

In [7]:
a=a.select_dtypes(include=["int64"])
a

        price  area  bedrooms  bathrooms  stories  parking
0    13300000  7420         4          2        3        2
1    12250000  8960         4          4        4        3
2    12250000  9960         3          2        2        2
3    12215000  7500         4          2        2        3
4    11410000  7420         4          1        2        2
..        ...   ...       ...        ...      ...      ...
540   1820000  3000         2          1        1        2
541   1767150  2400         3          1        1        0
542   1750000  3620         2          1        1        0
543   1750000  2910         3          1        1        0
544   1750000  3850         3          1        2        0

[545 rows x 6 columns]

In [8]:
#a.select_dtypes(include=["object"])

In [9]:
#x=a[["area","bedrooms","bathrooms","stories","parking"]]
x=a[["area","bathrooms"]]
#x=a.iloc[:,1:4]
x
#a.loc[2,"area"]
y=a.iloc[:,0]
y

0      13300000
1      12250000
2      12250000
3      12215000
4      11410000
         ...
540     1820000
541     1767150
542     1750000
543     1750000
544     1750000
Name: price, Length: 545, dtype: int64

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)
x_train

     area  bathrooms
46   6000          2
93   7200          2
335  3816          1
412  2610          1
471  3750          1
..    ...        ...
71   6000          2
106  5450          2
270  4500          2
435  4040          1
102  5500          2

[436 rows x 2 columns]

In [12]:
x_test

     area  bathrooms
316  5900          2
77   6500          2
360  4040          1
90   5000          1
493  3960          1
..    ...        ...
15   6000          1
357  6930          1
39   6000          2
54   6000          2
155  6100          2

[109 rows x 2 columns]

In [13]:
from sklearn.linear_model import LinearRegression

In [14]:
model=LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

In [15]:
y_pred=model.predict(x_test)
y_pred

array([6170893.28322832, 6384028.6729173 , 3875965.33501853,
       4216981.95852089, 3847547.28306   , 4827970.07562929,
       5467376.24469622, 5847637.94220004, 3591784.81543323,
       3399962.96471315, 8757106.26401305, 3838311.41617348,
       3762293.12718441, 3542053.2245058 , 3851099.53955481,
       6998739.299079  , 3151305.01007601, 4572207.60800252,
       4518923.76058027, 4572207.60800252, 4224086.47151052,
       4865268.76882486, 3737072.10607121, 3790711.17914294,
       5371465.31933618, 7613109.42012373, 3538500.96801098,
       5140738.8997316 , 7129832.28427023, 3506530.65955764,
       5495964.54921323, 3549157.73749543, 6206415.84817649,
       4790671.38243372, 4137056.18738752, 5709099.93890221,
       4091232.07860439, 3570471.27646433, 3677038.97130882,
       5065075.83639202, 5275554.39397614, 3730322.81873106,
       6355610.62095877, 3932801.43893559, 4838626.84511374,
       4531356.65831213, 6206415.84817649, 4089100.7247075 ,
       5300420.18943985, 3506530.65955764, 6730373.68116189,
       3506530.65955764, 5200957.007585  , 4039369.13378008,
       3733875.07522588, 3474560.35110429, 6117609.43580608,
       3293395.26986866, 4732059.15026925, 3790711.17914294,
       5204679.5166383 , 4833468.71293   , 4728506.89377443,
       4202772.93254162, 4344863.19233428, 3776502.15316367,
       6419551.23786546, 3506530.65955764, 5424749.16675842,
       4465639.91315803, 5087455.05230936, 4700088.8418159 ,
       5424749.16675842, 7804931.27084381, 3394279.35432144,
       5588323.21807845, 3730322.81873106, 4151265.21336679,
       4572207.60800252, 4323549.65336538, 6334297.08198987,
       3890174.36099779, 6028803.02343567, 4810208.79315521,
       3044737.31523152, 7826415.06237119, 3435485.52966131,
       3666382.20182437, 6710836.2704404 , 7840624.08835046,
       3117558.57337525, 5300420.18943985, 4376833.50078762,
       3652173.1758451 , 8757106.26401305, 3755188.61419478,
       4511108.79629168, 6135370.71828016, 4394594.7832617 ,
       6419551.23786546, 3591784.81543323, 5709099.93890221,
       3495873.89007319, 6881514.83475006, 4572207.60800252,
       4902567.46202043, 6206415.84817649, 6206415.84817649,
       6241938.41312465])

In [16]:
import numpy as np
#y_test=np.array(y_test) 
#x_test=np.array(x_test)

In [17]:
from sklearn.metrics import r2_score

In [18]:
r2_score(y_test,y_pred)

0.42916739249030345

In [19]:
a.corr(method="pearson")

              price      area  bedrooms  bathrooms   stories   parking
price      1.000000  0.535997  0.366494   0.517545  0.420712  0.384394
area       0.535997  1.000000  0.151858   0.193820  0.083996  0.352980
bedrooms   0.366494  0.151858  1.000000   0.373930  0.408564  0.139270
bathrooms  0.517545  0.193820  0.373930   1.000000  0.326165  0.177496
stories    0.420712  0.083996  0.408564   0.326165  1.000000  0.045547
parking    0.384394  0.352980  0.139270   0.177496  0.045547  1.000000

In [20]:
from mpl_toolkits.mplot3d import Axes3D
import matplotlib.pyplot as plt
fig=plt.figure()
x=np.argsort()
d=fig.add_subplot(111,projection="3d")
d.scatter(x_test.iloc[:,0],y_test.values,y_pred)
d.plot(x,y_test,y_pred)
plt.show()

TypeError: argsort() missing 1 required positional argument: 'a'

In [ ]:
import numpy as np
import matplotlib.pyplot as plt

x = x_test.iloc[:, 0].values
y_actual = y_test.values
y_predicted = y_pred

idx = np.argsort(x)

x_sorted = x[idx]
y_actual_sorted = y_actual[idx]
y_pred_sorted = y_predicted[idx]
plt.scatter(x_sorted, y_actual_sorted, label="Actual Data")
plt.plot(x_sorted, y_pred_sorted, label="Best Fit Line")

plt.xlabel("X (Feature)")
plt.ylabel("Y (Target)")
plt.legend()
plt.show()